<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/index.css" />


  </head>
  <body>
    <div class="navbar-wrapper">
      <nav>
        <div class="nav-wrapper">
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">DA-IICT</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="body">
      <div class="search-wrapper">
        <img src="/images/da_search.svg">
        <div class="input-wrapper">
          <input id="search" name="q" placeholder="Search in DA-IICT" title="Search">
        </div>
        
      </div>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      
  </body>
</html>
