.navbar-wrapper nav {
  padding: 0 10px;
  background-color: white;
  box-shadow: none; }
  .navbar-wrapper nav div > ul > li > a {
    color: black; }

.body {
  display: flex;
  align-items: center;
  justify-content: center; }

.search-wrapper {
  text-align: center; }
  .search-wrapper img {
    width: 250px; }
  .search-wrapper .input-wrapper {
    width: 560px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    padding: 8px 5px 0 5px;
    border-radius: 2px; }
    .search-wrapper .input-wrapper input {
      border: none;
      height: 2rem; }
    .search-wrapper .input-wrapper input:focus {
      border: none;
      box-shadow: none; }
