.navbar-wrapper {
    nav {
        padding: 0 10px;
        background-color: white;
        box-shadow: none;

        div > ul > li > a {
            color: black;
        }
    }
}

// Body
.body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-wrapper {
    text-align: center;

    img {
        width: 250px;
    }

    .input-wrapper {
        width: 560px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
        padding: 8px 5px 0 5px;
        border-radius: 2px;

        input {
            border: none;
            height: 2rem;
        }

        input:focus {
            border: none;
            box-shadow: none;
        }
    }

}